pycodestyle
flake8
pytest
pytest-cov
pytest-xvfb
pyinstaller
numpy
PyQt5
#git+https://github.com/LowellInstruments/lowell-mat.git
git+https://github.com/LowellInstruments/lowell-mat.git
pytest-qt
pytest-mock
ntplib
Socket_Singleton
humanize
wmi