pycodestyle
flake8
pytest
pytest-cov
pytest-xvfb
pyinstaller
numpy
PyQt5-sip==12.11.0
PyQt5==5.15.9
git+https://github.com/LowellInstruments/mat.git
pytest-qt
pytest-mock
ntplib
Socket_Singleton
humanize
wmi